

.header_container{
	display: flex;
	justify-content:space-between;
	padding:10px 30px;
	align-items: center;

}

.header_content{
	display: flex;

	
}
.header_title{
	font-weight: 700;
	font-size: 22px;
	line-height:28px;
	color: #444444;
}
.font_size{
	font-weight: 600;
	font-size: 16px;
	line-height:22px;
	color: #4A4444;
	border-right: 2px solid #d7cece;
	padding-right: 20px;
	padding-left: 20px;
}

.icon{
	margin: 16px 10px;
}